String based assignment problem

1. write a program to reverse  a string

In [21]:
string="hello world"
result=string[::-1]
print(result)

dlrow olleh

2.check if a string is palindrome

In [45]:
def is_palindrome(s):
    s=s.lower()
    s=''.join(e for e in s if e.isalnum())
    return s==s[::-1]
#driver code
s="my name is mohseen shaikh"
result=is_palindrome(s)
print(result)

False

3.convert a string to uppercase.

In [44]:
s=input("enter enter any string")
upper_case=s.upper()
print("uppercase string:",upper_case)

uppercase string MOHSEEN

4.convert  a string to lower case

In [52]:
s=input("enter any string")
lower_case=s.lower()
print("lower_case  string:",lower_case)

lower_case  string: mohseen

5.count the number of vowels in string

In [83]:
def count_vowels(string):
    vowels_count=0
    string=string.lower()
    vowels=set("aeiou")
    for char in string:
       if char in vowels:
        vowels_count+=1
    return vowels_count
    #driver code
s="hello world"

result=count_vowels(s)
print(result)

3

6.count the number of consonants

In [95]:
def count_consonants(string):
    consonant_count=0
    consonants="hjutfftdrdrfiuuyifrfffeeaaaauu"
    for char in string:
       if char in consonants:
           consonant_count+=1
    return consonant_count
s=input("enter any string")
result=count_consonants(s)
print("this is consonants",result)

this is consonants 30

7.Remove all white spaces from string

In [147]:
def remove_whitespace(s):
    result=""
    for char in s:
       if char !=" ":  
          result+=char
    return result
s="my  name is mohseen  shaikh"
s2=remove_whitespace(s)
print(s2)

mynameismohseenshaikh

8.Find the length of a string without using len() function

In [173]:
count=0
for char in input_string:
    count+=1
input_string=input("enter any string")
print("the number of string",count)

the number of string 7

9.check if a string contains specific word.

In [182]:
input_string=input("enter any string")
output_string=input("enter a specific word")
if char in input_string:
    print(f" specific word'{output_string}'.")
else:
    print(f"this is not specific word'{output_string}'.")

this is not specific word'king'.

10.Replace the a word in  string with anothe string

In [184]:
string=input("enter the string")
old_string=input("enter the old string")
new_string=input("enter the new string")
modified_string=string.replace(old_string,new_string)
print("modified string",modified_string)

modified string yusuf

11.count the occurences of the word in string.

In [212]:
def count_occurences(input_string,target_word):
    occurence_count=0
    words=input_string.split()
    for char  in words:
        if char==target_word:
            occurence_count+=1
    return occurence_count
input_string="how is possible"
target_word='possible'
result=count_occurences(input_string,target_word)
print(f"target word is {target_word},print the result{result}")

target word is possible,print the result1

12.find the first occurences of the word in string:

In [221]:
def find_first_occurence(text,word):
  index=text.find(word)
  if index==-1:
     return None
  return index
text="mohseen shaikh is here"
word='shaikh'
result= find_first_occurence(text,word)
print(result)

8

13.find the last occurences of the word in string.

In [233]:
def find_last_ocurences(text,word):
    index =text.rfind(word)
    if index == -1:
        return None
    return index
text="hey welcome to my world"
word='world'
result=find_last_ocurences(text,word)
print(result)

18

14.split a string into a list of words.

In [236]:
def split_string_into_words_(text):
    words_list=text.split()
    return words_list
text="hello uncle i am mohseen "
words=split_string_into_words_(text)
print(words)

['hello', 'uncle', 'i', 'am', 'mohseen']

15.join  a list of words into string

In [237]:
def join_list_of_words(words_list):
 joined_string=''.join(words_list)
 return joined_string
input_string="mohseen","shasikh","is","here"
result=join_list_of_words(input_string)
print(result)

mohseenshasikhishere

16.convert a string where a words are seprated by spaces to one where words are seprated by underscores.

In [244]:
def convert_string_underscores_seprated(text):
    convert_string= text.replace("","_")
    return convert_string
text="mohseen shaikh"
result=convert_string_underscores_seprated(text)
print(result)

_m_o_h_s_e_e_n_ _s_h_a_i_k_h_

17.check if string is starts with a specific word or phrase.

In [251]:
def starts_with_pharases_or_word(text,prefix):
    start=text.startswith(prefix)
    return start
text="mohseen shaikh"
prefix="mohseen"
result=starts_with_pharases_or_word(text,prefix)
if result:
    print("the text starts with prefix")
else:
    print("the text not starts with prefix")

the text starts with prefix

18.check if string  ends with a specific word or phrase

In [252]:
def ends_with_word_or_phrase(text,suffix):
    ends=text.endswith(suffix)
    return ends
text="mohsen shaikh"
suffix="mohseen"
result=ends_with_word_or_phrase(text,suffix)
if result:
    print("the text ends with suffix")
else:
    print(" the text not ends with suffix")

 the text not ends with suffix

19.convert  a string to title case.

In [254]:
def convert_to_title_case(text):
    title_case=text.title()
    return title_case
text="hello and welcome to PhYSICS wallah skils"
title_case_result=convert_to_title_case(text)
print("title case:",title_case_result)

title case: Hello And Welcome To Physics Wallah Skils

20.find the longest word in string.

In [74]:
def find_longest_word(text):
     words=text.split()
     longest_word=""
     max_length= 0
     for word in words:
          if len(word)>max_length:
           max_length=len(word)
           longest_word=word
          return longest_word
text="here is an example of some long word"
longest_word=find_longest_word(text)
print("longest word:",longest_word)

longest word: here

21.find the shortest word

In [36]:
def find_shortest_word_(text):
    words=text.split()
    shortest_word=None
    min_length= float('inf')
    for word in words:
       if len(word)<min_length:
        min_length=len(word)
        shortest_word=word
    return shortest_word
text="welcome to my class"
shortest_word= find_shortest_word_(text)
print("shortest word is :",shortest_word)

shortest word is : to

22.reverse the order of the words in a string:

In [ ]:
def find_shortest_word_(text):
    words=text.split()
    shortest_word=None
    min_length= float('inf')
    for word in words:
       if len(word)<min_length:
        min_length=len(word)
        shortest_word=word
    return shortest_word
text="welcome to my class"
shortest_word= find_shortest_word_(text)
print("shortest word is :",shortest_word)

23.check if a string is alphanumeric.

In [79]:
def is_alphanumeric(text):
    return text.isalnum()
text ="767@"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is not alphanumeric.

24.extract all digits from string.

In [103]:
def extract_digits(text):
    digits=""
    for char in text:
        if char.isdigit():
          digits +=char
    return digits
text="hello6386104092"
result=extract_digits(text)
print("extracted digits:",result)

extracted digits: 6386104092

25. extract all alphabets from a string.

In [111]:
def extract_alphabets(text):
    alphabets="".join([char for char in text if char.isalpha()])
    return alphabets
text="hello9878756"
result=extract_alphabets(text)
print(result)

hello

26.count the number of uppercase string

In [147]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count
input_string = "MOHSEENSHAIKH"
result = count_uppercase(input_string)
print(result)

13

27. count the number of lowercase string

In [151]:
def count_lowercase(text):
    lowercase_count =sum(1 for char in text if char.islower())
    return lowercase_count
text="mohseen"
result=count_lowercase(text)
print(result)

7

28.swap the case of each character in a string

In [153]:
def swap_characters(text):
    swap_case=text.swapcase()
    return swap_case
text="moHseen shaikh"
result=swap_characters(text)
print(result)

MOhSEEN SHAIKH

29.remove a specific word from a string.

In [154]:
def remove_word(text,word_to_remove):
    words=text.split()
    filtered_string="".join([word for word in words if word!=word_to_remove])
    return filtered_string
text="hello and welcome to pw skills"
word_to_remove="welcome"
result=remove_word(text,word_to_remove)
print(result)

helloandtopwskills

30.check if a string is a valid email address

In [4]:
import re
def is_valid_email(email):
    pattern=r'^[\w\.-]+@[\w\.-]+\.\w+$' 
    if re.match(pattern,email):
        return True
    else:
        return False
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

31. extarct the username from an email address

In [1]:
def extract_username(email):
    username = email.split('@')[0]  # Split the email address at "@" and take the first part
    return username

# Example email address
email = "example@email.com"
result = extract_username(email)
print(result)

example

32.extract domain name from an email address string

In [3]:
def extract_domain(email):
    domain = email.split('@')[1] 
    return domain
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

33.Replace a multiple spaces  in a string with a single space

In [1]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
    return cleaned_string

# Example input string with multiple spaces
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

34.check if a string is valid url

In [12]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

35. extarct the  protocal http or https from url string

In [18]:
def extract_protocol(url):
    protocol_end=url.find(":/")

    if protocol_end !=-1:
        protocol=url[:protocol_end]
        return protocol
    else:
            None
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

36 find the frequency for each character in string

In [28]:
def character_frequency(input_string):
    frequency = {}  

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1  

    return frequency

input_str = "hello world"
char_freq = character_frequency(input_str)
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

37.Remove all punctuation from a string

In [30]:
import string
def remove_punctuation(input_string):
    translator =str.maketrans("","",string.punctuation)
    clean_string=input_string.translate(translator)
    return clean_string
input_string="hello!, world,"
cleaned_string=remove_punctuation(input_string)
print("orignal string",input_string)
print("cleaned_string",cleaned_string)

orignal string hello!, world,
cleaned_string hello world

38.check if string has  contains only digits.

In [36]:
def check_digits(input_string):
    return input_string.isdigit()
string1="hello123"
string2="123344"
result1=check_digits(string1)
result2=check_digits(string2)
print(result1)
print(result2)

False
True

39.check if string has contains only alphabets.

In [37]:
def check_alpha(input_string):
    return input_string.isalpha()
string1="hello"
string2="hello123"
result1=check_alpha(string1)
result2=check_alpha(string2)
print(result1)
print(result2)

True
False

40. convert a string to a list of charcaters

In [38]:
def string_list(input_string):
    char_list=list(input_string)
    return char_list
input_string="hello world"
char_list=string_list(input_string)
print("orignal string",input_string)
print("char_list",char_list)

orignal string hello world
char_list ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

41.check if two string are anagrams.

In [43]:
def are_anagrams(str1,str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1)==sorted(str2)
string1="listen"
string2="silent"
string3="hello"
string4="world"
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)
print(f"'{string1}'and '{string2}' are anagrams",result1)
print(f"'{string3}'and '{string4}' are anagrams",result2)

'listen'and 'silent' are anagrams True
'hello'and 'world' are anagrams False

42.encode a string using caesar ciphar

In [32]:
def caesar_ciphar(text, shift):
    encoded_text=""
    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char=char
        encoded_text+=encoded_char
    return encoded_text
text="hello world"
shift=3
encoded_text=caesar_ciphar(text,shift)
print("encoded text:"+encoded_text)

encoded text:khoor zruog

43.decode a string using caesar ciphar

In [30]:
def caesar_cipher_decoder(text, shift):
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char
    return decoded_text


text = "lopp, zruog!"
shift = 3


decoded_text = caesar_cipher_decoder(text, shift)


print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

44 find the most frequent word in  a string

In [3]:
import re
from collections import Counter

def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)

    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word
input_str = "Hello world, hello there! How's the world?"
most_common = most_frequent_word(input_str)
print("Most frequent word:", most_common)

Most frequent word: hello

45.Find all unique words in string

In [4]:
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    words = set(clean_string.split())

    return words
input_str = "Hello world, hello there! How's the world?"
unique_word_set=unique_words(input_str)
print("Unique words:", unique_word_set)

Unique words: {'hows', 'the', 'there', 'world', 'hello'}

46.count the number syllabus in a string

In [6]:
import re
def count_syllabus(word):
    vowel_group= re.findall(r'[aeiouy]+', word, re.IGNORECASE) 
    return vowel_group
word1="hello"
word2="banana"
word3="syallabul"
syallabels1=count_syllabus(word1)
syllabels2=count_syllabus(word2)
syllabels3=count_syllabus(word3)
print("syllabels1",word1)
print("syllabels2",word2)
print("syllabels3",word3)

syllabels1 hello
syllabels2 banana
syllabels3 syallabul

47.check if a string contains only special character

In [7]:
import re

def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

48.remove the nth word from a string

In [8]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None
input_str = "This is an example sentence to test the function."
n_value = 4
modified_str, removed_word = remove_nth_word(input_str, n_value)
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

49.insert a word in  the nth position in a string

In [10]:
def insert_word_at_n(input_string, word_to_insert, n):
    words = input_string.split()
    if n >= 0 and n <= len(words):
        words.insert(n, word_to_insert)
        modified_string = ' '.join(words)

        return modified_string
    else:
        return None
input_str = "This is a test string."
word_to_insert = "sample"
n_value = 3


modified_str = insert_word_at_n(input_str, word_to_insert, n_value)

print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
else:
    print("Invalid n value.")

Original string: This is a test string.
Modified string: This is a sample test string.

50. convert a csv string to a list of lists

In [18]:
def csv_string_to_list(csv_string):
    lines=csv_string.split('\n')
    result=[]
    for line in lines:
        fields = line.split(',')
        result.append(fields)
        return result
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']

LIST PROBLEM

1.create a list with integers 1 to 10

In [6]:
list1=[ i for i in range(1,11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.find the length of list without using len() function

In [13]:
def custom_len(input_list):
    count=0
    for _ in  input_list:
        count+=1
    return count
my_list=[10,20,30,40,50]
length=custom_len(my_list)
print("length of list:",length)

length of list: 5

3.append an element at the end of a list

In [21]:
list2=[10,20,30]
new_element=40
list2.append(new_element)
print("update list:",list2)

update list: [10, 20, 30, 40]

4.insert an element at a specifc index in a  list

In [23]:
my_list=[100,200,300]
new_element=400
inser_element=1
my_list.insert(inser_element,new_element)
print("updated list:",my_list)

updated list: [100, 400, 200, 300]

5.Remove an element from a list by its value

In [25]:
my_list=[10,20,30,40]
remove_element=20
my_list.remove(remove_element)
print(my_list)

[10, 30, 40]

6.Remove an element from a list by its index

In [26]:
my_list=[100,200,300,400]
element_remove_index=2
my_list.pop(element_remove_index)
print(my_list)

[100, 200, 400]

7. check if an elemnt exist in a list

In [28]:
my_list=[10,20,30,40]
check_element=10
if check_element in my_list:
    print(f"{check_element} exist in the list")
else:
    print(f"{check_element} does not exist in the list")

10 exist in the list

8.find the index of the first occurence of an element in the list

In [33]:
my_list=[40,50,60,30,20,10]
occurence_of_element=30
index=my_list.index(occurence_of_element)
print(f"{occurence_of_element} is {index}")

30 is 3

9. count the occurences of an element in a list

In [41]:
my_list=[10,20,30,20,20,40,50]
element_count=20
count=my_list.count(element_count)
print(f"{element_count} is {count}")

20 is 3

10.Reverse the order of an element in a list

In [42]:
my_list=[10,20,30,40,50]
my_list.reverse()
print("reversed list",my_list)

reversed list [50, 40, 30, 20, 10]

11. sort the list in ascending order

In [44]:
my_list=[20,30,10,40,50]
my_list.sort()
print("sorted list",my_list)

sorted list [10, 20, 30, 40, 50]

12.sort the list in decending order

In [46]:
my_list=[10,20,30,20,10,50]
my_list.sort(reverse=True)
print("sorted list in descending order",my_list)

sorted list in descending order [50, 30, 20, 20, 10, 10]

13.create a list of even number 1 to 20

In [47]:
my_list=[x for x in range(2,21,2)]
print("list of even number",my_list)

list of even number [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14.create a list of odd number 1 to 20

In [48]:
my_list=[x for x in range(1,21,2)]
print("list of odd number",my_list)

list of odd number [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15.find the sum of all elements in a list

In [52]:
my_list=[10,20,30]
total_sum=sum(my_list)
print(total_sum)

60

16.find the maximum in a list

In [55]:
my_list=[300,400,200]
max_num=max(my_list)
print("maximum value",max_num)

maximum value 400

17.find the minimum value in a list

In [58]:
my_list=[10,20,30,40]
min_num=min(my_list)
print("manimum list",min_num)

manimum list 10

18.create a list of squares 1 to 10

In [63]:
squares=[x**2 for x in range(1,11)]
print("square list", squares)

square list [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. create a list of random numbers

In [65]:
import random
random_numbers=[random.randint(1,100) for _ in range(10)]
print(random_numbers)

[27, 79, 10, 67, 11, 12, 35, 73, 47, 95]

20. remove a duplicates from a list

In [66]:
my_list=[10,20,30,30,40,40,50]
unique_list=list(set(my_list))
print(unique_list)

[40, 10, 50, 20, 30]

21.find the common element between two list

In [68]:
list1=[10,20,30,40]
list2=[20,40,50,30]
common_element=[element for element in list1 if element in list2]
print("common element:",common_element)

common element: [20, 30, 40]

22. find the difference between two list

In [69]:
list1=[10,10,20,30,40]
list2=[10,20,30,20,10]
difference_list=list(set(list1).difference(list2))
print("difference of list",difference_list)

difference of list [40]

23. merged two list

In [71]:
list1=[10,20,30,"mohseen"]
list2=[10,70,30,"yaseen"]
merged_list=list1+list2
print("merged list", merged_list)

merged list [10, 20, 30, 'mohseen', 10, 70, 30, 'yaseen']

24.multiply a list by 2

In [75]:
list1=[10,30,40,60]
multply_list=[x*2 for x in (list1)]
print(multply_list)

[20, 60, 80, 120]

25. filter out all even numbers

In [77]:
my_list=[76,89,65,34,23]
filtered_out=[x for x in my_list if x%2 !=0]
print(f"filtered out",filtered_out)

filtered out [89, 65, 23]

26 convert a list of string into list of integers

In [89]:
my_list=['23','32','21','43','65']
convert_list=[int(x) for x in my_list ]
print("convert list", convert_list)

convert list [23, 32, 21, 43, 65]

27. convert a list of integers into list of string

In [91]:
my_list=[23,32,21,43,65]
convert_list=[str(x) for x in my_list ]
print("convert list", convert_list)

convert list ['23', '32', '21', '43', '65']

28.flatten a nested list

In [102]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened
flattened_list = flatten_list(nested_list)
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. create a list of 10 fibonacci numbers

In [114]:
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list


fibonacci_numbers = generate_fibonacci(10)


print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30.check if list is sorted

In [120]:
def list_is_sorted_ascending(list):
    for i in range(1, len(list)):
        if list[i]<list[i-1]:
            return False
        return True
ascending_list=[10,20,30,40,50]
if list_is_sorted_ascending(ascending_list):
    print("list is ascending order")
else:
    print("list is not in aecending order")

list is ascending order

31.Rotate a list to the left by nth position

In [121]:
def rotate_left(lst, n):
    n = n % len(lst) 
    rotated = lst[n:] + lst[:n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]


n = 2
rotated_list = rotate_left(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

32.Rotate a list to the Right by nth position

In [128]:
def rotate_right(list,n):
    n=n%len(list)
    rotated=list[-n:]+list[:-n]
    return rotated
my_list=[1,2,3,4,5,6,7]
rotated_list=rotate_right(my_list,n)
print("rotated right",rotated_list)

rotated right [6, 7, 1, 2, 3, 4, 5]

33. create a list of prime numbers to 50

In [149]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True
prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34.split a list into chunks of size n

In [150]:
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

prime_numbers = sieve_of_eratosthenes(50)
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

35. find the second largest numbers in a list

In [151]:
y_list = [10, 5, 20, 15, 30, 25]

sorted_list = sorted(set(my_list))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 6

36.replace every element in a list by its square.

In [152]:
my_list = [2, 4, 6, 8, 10]

squared_list = [x ** 2 for x in my_list]

print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

37.convert a list to a dictionary where list elements becomes keys and their indices becomes value

In [153]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']


my_dict = {element: index for index, element in enumerate(my_list)}


print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38.shuffle a list of elements randomly.

In [155]:
import random
my_list=[10,12,14,34,15]
random.shuffle(my_list)
print("random suffle",my_list)

random suffle [10, 34, 14, 15, 12]

39.create a list of first ten factorial numbers

In [157]:
def factorial(n):
    if n==0 or n==1:
        return n
    else:
        return n*factorial(n-1)
factorial_numbers=[factorial(i) for i in range(10)]
print("factorial numbers",factorial_numbers)

factorial numbers [0, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40 check if two list have at least one element in common

In [158]:
def has_common_element(list1,list2):
    for item in list1:
        if item in list2:
            return True
        return False
    
list1=[10,20,30,40,50]
list2=[21,10,22,44]
if has_common_element(list1,list2):
    print("same element")
else:
    print("not same element")

same element

41 Remove all elements in a list

In [160]:
my_list=[10,20,30,40]
my_list.clear()
print("my_list",my_list)

my_list []

42 Replace a negative number with zero

In [166]:
my_list=[10,-5,-6,-7,-4,9]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("list after repalcing number from zeo",my_list)

list after repalcing number from zeo [10, 0, 0, 0, 0, 9]

43.convert a string into list of words

In [168]:
string="hello this is sample sentence"
words_list=string.split()
print(words_list)

['hello', 'this', 'is', 'sample', 'sentence']

44.convert a list of words into a string

In [171]:
my_list=['hello','this','is','sample','sentence']
words_list=' '.join(my_list)
print(words_list)

hello this is sample sentence

45.create a list of the first n power of 2

In [174]:
n=5
powers=[2**i for i in range(n)]
print(powers)

[1, 2, 4, 8, 16]

46.find the longest string in a list of strings

In [183]:
string_list=["banana","apple","chey","mango"]
longest_string=""
for s in string_list:
    if len(s)>len(longest_string):
        longest_string=s
        print(longest_string)

banana

47.find the shortest string in a list of string

In [1]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_string = string_list[0]  
for s in string_list:
    if len(s) <len(shortest_string):
        shortest_string =s
print(shortest_string)

date

48.create  a list of the first n tringular numbers.

In [3]:
def tringular_numbers(n):
    return [i*(i+1) // 2 for i in range (1,n+1)]
n=5
tringular_list=tringular_numbers(n)
print("tringular numbers",tringular_list)

tringular numbers [1, 3, 6, 10, 15]

49.check if a list contains another list as a subsequence

In [6]:
def sub_sequence(sequenc,main_list):
    sequenc_index=0
    for element in  main_list:
        if element==sequenc[sequenc_index]:
            sequenc_index+=1
        if  sequenc==len(sequenc):
            return True
        return False
main_list=[1,3,3,4,5,6]
sequence=[4,5,6]
if sub_sequence(sequence,main_list):
    print("main list contains subsequence")
else:
    print("main list does not contains subsequence")

main list does not contains subsequence

50 swap two elements in a list by their indices

In [7]:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

TUPLE BASED PRACTISE PROBLEM

1.create a tuple with integers 1 to 5

In [17]:
my_tuple=[10,20,30,40,50]
third_element=my_tuple[2]
print(third_element)

30

2.Access the third element of a tuple

In [18]:
my_tuple=(1,2,3,4,5)
third_element=my_tuple[1]
print(third_element)

2

3.find the length of  the tuple without using len() function

In [23]:
my_tuple=(10,20,30,40,50)
count=0
for i in my_tuple:
    count+=1
print("the length of my_tuple",count)

the length of my_tuple 5

4.count the occurences of an element in tuple

In [27]:
my_tuple=(10,20,30,20,20)
element_count=20
count=0
for item in my_tuple:
    if item==element_count:
        count+=1
print(f"the element of{element_count} is appers {count}")

the element of20 is appers 3

5.find the index of the first occurence of an element in a tuple.

In [41]:
my_tuple=(10,20,30,40,50)
element_find=20
index=-1
for i,item in enumerate(my_tuple):
    if item==element_find:
        index=i
        break
    if index !=-1:
        print(f"the element of {element_find} is appears{index}")
    else:
        print(f"{element_find} is not found in tuple")

20 is not found in tuple

6.check if an element exists in tuple

In [49]:
my_tuple=(10,20,30,40,50)
element_to_check= 30
for element_to_check in my_tuple:
    print(f"{element_to_check},exist  in tuple")
else:
    print(f"{element_to_check} does not exists in tuple")

10,exist  in tuple
20,exist  in tuple
30,exist  in tuple
40,exist  in tuple
50,exist  in tuple
50 does not exists in tuple

7. convert a tuple into list

In [51]:
my_tuple=(10,20,30,40,50)
my_list=list(my_tuple)
print("my_tuple",my_tuple)
print("my_list",my_list)

my_tuple (10, 20, 30, 40, 50)
my_list [10, 20, 30, 40, 50]

8.convert a list into tuple

In [52]:
my_list=[10,20,30,40,50]
my_tuple=tuple(my_list)
print("my_list",my_list)
print("my_tuple",my_tuple)

my_list [10, 20, 30, 40, 50]
my_tuple (10, 20, 30, 40, 50)

9.unpack the elements of a tuple into variables

In [53]:
my_tuple=(10,20,30)
var1,var2,var3=my_tuple
print("var1",var1)
print("var2",var2)
print("var3",var3)

var1 10
var2 20
var3 30

10.create a tuple of even numbers from 1 to 10

In [55]:
create_even_numbers=[num for num in range(2,11,2)]
tuple_even_number=tuple(create_even_numbers)
print("tuple even numbers",tuple_even_number)

tuple even numbers (2, 4, 6, 8, 10)

11. create a  tuple of odd numbers from 1 to 10

In [57]:
create_odd_numbers=[num for num in range(1,11,3)]
tuple_odd_numbers=tuple(create_odd_numbers)
print("tuple of odd numbers",tuple_odd_numbers)

tuple of odd numbers (1, 4, 7, 10)

12.concatenate of tuples

In [58]:
tuple1=(10,11,12,13)
tuple2=(1,2,3,4,5,6)
tuple=tuple1+tuple2
print(tuple)

(10, 11, 12, 13, 1, 2, 3, 4, 5, 6)

13.Repeat of tuple three times

In [59]:
orignal_tuple=(1,2,3)
repeat_tuple=orignal_tuple*3
print(repeat_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14.check if tuple is empty

In [61]:
empty_tuple=()
Not_empty_tuple=(1,2,3)
if not empty_tuple:
    print("the empty_tuple is empty")
else:
    print("the empty_tuple is not empty")
if not Not_empty_tuple:
    print("the Non_empty_tuple is  empty")
else:
    print(" the Non_empty_tuple is not empty")

the empty_tuple is empty
 the Non_empty_tuple is not empty

15.  create  a tuple of Nested tuple

In [62]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
print("Nested tuples",nested_tuple)

Nested tuples ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16.Access  the first occurence of a nested tuple

In [65]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
nested=nested_tuple[0]
print("nested",nested)

nested (1, 2, 3)

17.create a tuple of single element

In [66]:
tuple_single_element=(42,)
print("single element",tuple_single_element)

single element (42,)

18.compare two tuples

In [68]:
tuple1=(1,2,3)
tuple2=(1,2,3)
print("tuple1 == tuple2",tuple1==tuple2)
print("tuple1 >  tuple2",tuple1>tuple2)
print("tuple1 <  tuple2",tuple1<tuple2)
print("tuple1 != tuple2",tuple1!=tuple2)
print("tuple1 >= tuple2",tuple1>=tuple2)
print("tuple1 <= tuple",tuple1<=tuple2)

tuple1 == tuple2 True
tuple1 >  tuple2 False
tuple1 <  tuple2 False
tuple1 != tuple2 False
tuple1 >= tuple2 True
tuple1 <= tuple True

19.delete a tuple

In [69]:
my_tuple=(1,2,3)
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

20 slice a tuple

In [70]:
my_tuple=(1,2,3,4,5,6,7,8,9)
sliced_tuple=my_tuple[2:6]
print(sliced_tuple)

(3, 4, 5, 6)

21. find the maximum value in a tuple

In [71]:
my_tuple=(12,1,41,22,32,24)
maximumu_tuple=max(my_tuple)
print(maximumu_tuple)

41

22 find the minimum value in tuple

In [72]:
my_tuple=(12,1,41,22,32,24)
minimum_tuple=min(my_tuple)
print(minimum_tuple)

1

23.convert a string into tuple case characters

In [1]:
string1="hello world"
tuple_characters = tuple(string1)
print(tuple_characters)

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

24.convert a tuple case characters into string

In [3]:
tuple_case_characters=('h','e','l','l','o')
string_from_tuple=''.join(tuple_case_characters)
print(string_from_tuple)

hello

25.create tuple of multiple data types

In [5]:
multiple_tuple_data=(1,2,3,4,'a','b','c',3.14,True)
print(multiple_tuple_data)

(1, 2, 3, 4, 'a', 'b', 'c', 3.14, True)

26.check if wor tuples are identical

In [7]:
tuple1=(1,2,3)
tuple2=(1,2,3)
tuple3=(4,5,6)
are_identical1=tuple1==tuple2
are_identical2=tuple1==tuple3
print("are identical1",are_identical1)
print("are identical",are_identical2)

are identical1 True
are identical False

27.sort the elements of tuple

In [9]:
my_tuple=(1,2,3,4,3,3,4,5,6)
sorted_tuple=tuple(sorted(my_tuple))
print("sorted tuple",sorted_tuple)

sorted tuple (1, 2, 3, 3, 3, 4, 4, 5, 6)

28.convert a tuple of integers into tuple of strings

In [12]:
my_tuple=(1,2,3,4,5,6,7,8,9,10)
tuple_of_string= tuple(str(item)for item in my_tuple)

print("tuple of string",tuple_of_string)

tuple of string ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

29.convert a tuple of string into tuple of integers

In [13]:
my_tuple=('1','2','3','4','5','6','7')
tuple_of_integers=tuple(int(item)for item in my_tuple)
print("tuple of intgers",tuple_of_integers)

tuple of intgers (1, 2, 3, 4, 5, 6, 7)

30.merged two tuple

In [14]:
tuple1=(1,2,3,4,5)
tuple2=(1,2,3,4,5)
merged_tuple=tuple1+tuple2
print("merged tuples",merged_tuple)

merged tuples (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

31. Flatten a Nested loop

In [5]:
def flatten_tuple(nested_tuple):
    flattende=[]
    for item in nested_tuple:
        if isinstance(item,tuple):
         flattende.extend(flatten_tuple(item))
    else:
         flattende.append(item)
         return flattende
nested_tuple=((1,2),(2,3,4),(4,5,6))
Flatende_tuple=tuple(flatten_tuple(nested_tuple))
print("Flatende tuple",Flatende_tuple)

Flatende tuple (2, 4, 6, (4, 5, 6))

32.create a tuple of 5 prime numbers

In [10]:
def is_prime(num):
    if num<=1:
        return False
    for i in range(2, int(num**0.5) +1):
        if num %i==0:
            return False
        return True
tuple_prime_list=[num for num  in range(2,100) if is_prime(num)][:5]
tuple_prime_number=tuple(tuple_prime_list)
print("tuple prime numbers",tuple_prime_number)

tuple prime numbers (5, 7, 9, 11, 13)

33.check if a tuple is_palindrome

In [12]:
def is_palindrome(tuple):
    return tuple==tuple[::-1]
palindrom_tuple=(1,2,3,2,1)
non_palindrom_tuple=(1,2,3,4,5)
is_palindrome1=is_palindrome(palindrom_tuple)
is_palindrome2=is_palindrome(non_palindrom_tuple)
print("palindrome tuple",is_palindrome1)
print("NoN_palindrome tuple",is_palindrome2)

palindrome tuple True
NoN_palindrome tuple False

34.create a tuple of squares of numbers from 1 to 5

In [15]:
squares_tuple=tuple(x**2 for x in range(1,6))
print("squares of tuple",squares_tuple)

squares of tuple (1, 4, 9, 16, 25)

35. filter out all even numbers from a tuple

In [21]:
numbers=(1,2,3,45,6,7,8,9,9,0,3,23,4,5,4)
filter_even_numbers=tuple(num for num in numbers if num % 2 !=0)
print("filter even numbers",filter_even_numbers)

filter even numbers (1, 3, 45, 7, 9, 9, 3, 23, 5)

36. Multiply by all elements by 2

In [24]:
orignal_tuple=(1,2,3,4,5)
double_tuple=tuple(num * 2 for num in  orignal_tuple )
print("double_tuple", double_tuple)

double_tuple (2, 4, 6, 8, 10)

37. create a tuple of random numbers

In [1]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  
print("Random tuple:", random_tuple)

Random tuple: (100, 18, 26, 48, 4, 78, 48, 77, 73, 27)

38. check if tuple is sorted

In [3]:
def is_sorted(tup):
    for i in range(len(tup)-1):
        if  tup[i]>tup[i+1]:
            return False
        return True
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39.Rotate a tuple to the left by nth position

In [10]:
def rotate_tuple_left(tup,n):
    n=n%len(tup)
    rotated_tuple=tup[n:]+tup[:n]
    return rotated_tuple
my_tuple=(1,2,3,4,5)
n_position=2
result=rotate_tuple_left(my_tuple,n_position)
print(result)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the left by nth position

In [20]:
def rotate_tuple_right(tup,n):
    n=n%len(tup)
    rotated_right=tup[-n:]+tup[:-n]
    return rotated_right
my_tuple=(5,4,3,2,1)
n_position=2
result=rotate_tuple_right(my_tuple,n_position)
print(result)

(2, 1, 5, 4, 3)

41.create a tuple of first fibonacci numbers

In [23]:
def genrate_fibonacci(n):
    fibonacci=[0,1]
    while len(fibonacci)<n:
        next_number=fibonacci[-1]+fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)
fibonacci_tuple=genrate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42.create a tuple for user input

In [24]:
input_str=input("enter string by seprated commas")
input_list=input_str.split(',')
user_tuple=tuple(input_list)
print("user input",user_tuple)

user input ('mohseen',)

43.swap two elements in a tuple

In [33]:
my_tuple=(1,2,3,4,5)
index1=1
index2=2
swapped_tuple=tuple(
my_tuple[i] if i not in (index1,index2) else
my_tuple[index2]  if i == index1 else
my_tuple[index1]
for i in range(len(my_tuple))
)
print("swapped tuple",swapped_tuple)

swapped tuple (1, 3, 2, 4, 5)

44.Reverse the elements of the tuple

In [34]:
my_tuple=(1,2,3,4,5,6)
reversed_tuple=my_tuple[::-1]
print("reversed tuple",reversed_tuple)

reversed tuple (6, 5, 4, 3, 2, 1)

45. create a tuple of first nth power of 2

In [37]:
n=5
power_of_2_tuple=tuple(2**i for i in range(n))
print("power_of_2_tuple",power_of_2_tuple)

power_of_2_tuple (1, 2, 4, 8, 16)

46. find the longest string in the tuple

In [38]:
my_tuple=("banana","apple","watermelon","grapes")
my_string=max(my_tuple, key=len)
print(my_string)

watermelon

47.find the shortest string in the tuple

In [39]:
my_tuple=("banana","apple","watermelon","grapes")
my_string=min(my_tuple,key=len)
print(my_string)

apple

48. create a tuple of first n tringular numbers

In [43]:
n=5

tringular_numbers_tuple=tuple((i*(i+1)//2 for i in range(1, n+1)))
print("tuple of the first",n,"numbers",tringular_numbers_tuple)

tuple of the first 5 numbers (1, 3, 6, 10, 15)

49. check if tuple contains anather tuple as a subsequence

In [54]:
def sub_sequence(main_tuple,sub_tuple):
    sub_length=len(sub_tuple)
    for i in range(len(main_tuple)-sub_length +1):
        if main_tuple[i:i+sub_length]==sub_tuple:
            return False
        return True
main_tuple=(1,2,3,4,5,6,7,8,9)
sub_tuple=(3,4,5)
subsequence_of_tuple=sub_sequence(main_tuple,sub_tuple)
print("sub sequence of tuple",subsequence_of_tuple)

sub sequence of tuple True

50.create tuple of alternating 1s and 0s length of n

In [55]:
n=10
alternating_tuple=tuple(i%2 for i in range(n))
print("alternating_tuple",alternating_tuple)

alternating_tuple (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

SET BASED PROBLEM

1.CREATE A  SET WITH INTEGERS 1 TO 5

In [57]:
my_set=set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

2.ADD ELEMENT TO A SET

In [2]:
my_set={1,2,3,4,5,6}
print("orignal set",my_set)
element_to_add=7
my_set.add(element_to_add)
print("element added",my_set)

orignal set {1, 2, 3, 4, 5, 6}
element added {1, 2, 3, 4, 5, 6, 7}

3.Remove element to a set

In [4]:
my_set={1,2,3,4,5}
print("orignal set",my_set)
element_to_remove=3
my_set.remove(element_to_remove)
print("remove element",my_set)

orignal set {1, 2, 3, 4, 5}
remove element {1, 2, 4, 5}

4.check if an element exists in the set

In [6]:
my_set={1,2,3,4,5,6}
element_to_check=int(input("Enter any number"))
if element_to_check in my_set:
    print(f"the element exists in my_set",element_to_check)
else:
        print(f"the element does not exists in my_set",element_to_check)

the element exists in my_set 2

5.find the length of the set  function without using the len() function

In [12]:
my_set={1,2,3,4,5,6,7,8,9}
count=0
for _ in my_set:
    count+=1
print(count)

9

6.clear all elements in the sets

In [17]:
my_set={1,2,3,4,5,6,7,8}
all_elements_clear=my_set.clear()
print(all_elements_clear)

None

7.create set of even numbers from 1 to 10

In [22]:
my_set=set()
for i in range(1,11):
    if i%2 ==0:
        my_set.add(i)
print("even number of set",my_set)

even number of set {2, 4, 6, 8, 10}

8.create set of odd numbers from 1 to 10

In [24]:
my_set=set()
for i in range(1,11):
    if i%2 !=0:
        my_set.add(i)
print("odd number of set",my_set)

odd number of set {1, 3, 5, 7, 9}

9.union of two sets

In [27]:
set1={1,2,3,4,5}
set2={1,2,5,6,7}
union_result=set1.union(set2)
print(union_result)

{1, 2, 3, 4, 5, 6, 7}

10 find the intersection of two sets

In [29]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
intersection_result = set1.intersection(set2)
print("Intersection:", intersection_result)

Intersection: {3, 4, 5}

11 find the difference between two sets

In [30]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_set = set1.difference(set2)
print("Difference:", difference_set)

Difference: {1, 2}

12 check if a set is a subset of another subset

In [34]:
set1={1,2,3}
set2={1,2,5}
subset_result=set1.issubset(set2)
print(subset_result)

False

13.check if  a set is a superset  of another set

In [42]:
set1={1,2,3,4,5,6}
set2={1,2,3,4}
superset_result=set1.issuperset(set2)
print(superset_result)
if  superset_result:
    print("this is superset  of set2")
else:
    print("this  is not superset of set2")

True
this is superset  of set2

14.create a set form list

In [44]:
my_list=[1,2,3,4,5]
my_set=set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

15. convert set to a list

In [45]:
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}
my_list = list(my_set)
print("Converted List:", my_list)

Converted List: [1, 2, 3, 4, 5, 6, 9]

16.Remove random element from a set

In [47]:
import  random
my_set={1,2,3,4,5,6}
random_element=random.choice(list(my_set))
my_set.remove(random_element)
print(my_set)

{2, 3, 4, 5, 6}

17.pop element from a set

In [50]:
my_set={1,2,3,4,5,6}
popped_element=my_set.pop()
print(popped_element)
print(my_set)

1
{2, 3, 4, 5, 6}

18.check if two sets has no common elements

In [54]:
set1={1,2,3,4,5}
set2={1,3,4,5}
intersection_of_sets=set1.intersection(set2)
print(intersection_of_sets)
if intersection_of_sets:
    print("has common elements")
else:
        print("has no common elements")

{1, 3, 4, 5}
has common elements

19.find the symmetric difference between two sets

In [55]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,6,8}
symmetric_difference= set1^set2
print("symmetric difference",symmetric_difference)

symmetric difference {1, 2, 7, 8}

20 update a set with  elements from another set

In [ ]:
set1={1,2,3,4,5}
set2={1,6}
set1.update(set2)
print("update set",set1)

update set {1, 2, 3, 4, 5, 6}

21.create a set of first 5 prime numbers

In [3]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True


prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22.checks if two sets are identical

In [5]:
set1={1,2,3,4,5}
set2={5,2,1,4,3}
if set1==set2:
    print("the sets are identical")
else:
    print("sets are not identical")

the sets are identical

23.create a frozen set

In [6]:
elements=[1,2,3,4,5,6]
elements_to_froze=frozenset(elements)
print("frozen set",elements_to_froze)

frozen set frozenset({1, 2, 3, 4, 5, 6})

24.check if a set is disjoint with another set

In [8]:
set1={1,2,3,4,5,6}
set2={6,5,4,3,2,1}
disjoint_set=set1.isdisjoint(set2)
print("disjoint set",disjoint_set)

disjoint set False

25.create a set of squares from 1 to 5

In [12]:
squares_set=set()
for num in range(1,6):
    squares=num**2
    squares_set.add(squares)
    print("squares of set",squares_set)

squares of set {1}
squares of set {1, 4}
squares of set {1, 4, 9}
squares of set {16, 1, 4, 9}
squares of set {1, 4, 9, 16, 25}

26. filter out all even numbers from a set

In [14]:
orignal_set={1,2,3,4,5,6,7,8,9}
create_even_numbers=set()
for num in orignal_set:
    if  num%2==0:
     create_even_numbers.add(num)
print("orignal set",orignal_set)
print("create_even_numbers",create_even_numbers)

orignal set {1, 2, 3, 4, 5, 6, 7, 8, 9}
create_even_numbers {8, 2, 4, 6}

27 multiply all elements  in a sets by 2

In [2]:
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28 create a random numbers in a set

In [7]:
import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100) 
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {98, 6, 81, 92, 94}

29. create an empty set

In [9]:
my_set=set()
if not  my_set:
    print("the set is empty")
else:
        print("the set is not empty")

the set is empty

30.create an nested set

In [13]:
set1={1,2,3,4,5,6,7}
set2=[1,2,3,4,5,6,7]
frozen_set1=frozenset(set1)
frozen_set2=frozenset(set2)
nested_set={frozen_set1,frozen_set2}
print("Nested set",nested_set)

Nested set {frozenset({1, 2, 3, 4, 5, 6, 7})}

31. Remove an element from a set using the discard method

In [14]:
my_set={1,2,3,4,5,6}
elements_to_remove=3
my_set.discard(elements_to_remove)
print("my_set",my_set)

my_set {1, 2, 4, 5, 6}

32 comapare two sets

In [17]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
is_subset=set1.issubset(set2)
is_intersection=set1.intersection(set2)
is_union=set1.union(set2)
is_superset=set1.issuperset(set2)
difference1=set1.difference(set2)
difference2=set2.difference(set1)
print("is_subset",is_subset)
print("is_intersection",is_intersection)
print("is_union",is_union)
print("is_superset",is_superset)
print("difference1",difference1)
print("difference2",difference2)

is_subset False
is_intersection {4, 5}
is_union {1, 2, 3, 4, 5, 6, 7, 8}
is_superset False
difference1 {1, 2, 3}
difference2 {8, 6, 7}

33 create a set from string

In [18]:
input_string="hello"
char=set(input_string)
print(char)

{'h', 'e', 'l', 'o'}

34 convert a set of string into integers

In [24]:
strings_set={"123","22","34","89","65"}
integer_set=set()
for string in strings_set:
    integer_value=int(string)
    integer_set.add(integer_value)
print("integer set",integer_set)

integer set {65, 34, 22, 89, 123}

35.convert a set of integers into string

In [26]:
integers_set={23,45,6,7,8,}
string_set=set()
for num in integers_set:
    string_value=str(num)
    string_set.add(string_value)
print("string set",string_set)

string set {'7', '8', '23', '6', '45'}

36.create a set from a tuple

In [27]:
input_tuple=(1,2,3,4,5,6,7)
output_set=set(input_tuple)
print("output tuple",output_set)

output tuple {1, 2, 3, 4, 5, 6, 7}

37.convert a tuple from a  set

In [28]:
input_set={1,2,3,4,5,6,7}
output_tuple=tuple(input_set)
print("output tuple",output_tuple)

output tuple (1, 2, 3, 4, 5, 6, 7)

38. Find the maximum value in the set

In [30]:
input_set={1,2,3,4,5,6}
max_value=None
for num in  input_set:
    if max_value is None or num> max_value:
        max_value=num
print("maximum value",max_value)

maximum value 6

39. Find the minimum value in the set

In [34]:
input_set={1,2,3,45,}
min_value=None
for num in input_set:
    if min_value is None or num<min_value:
        min_value=num
print("minimum value",min_value)

minimum value 1

40. create a set user_input

In [42]:
user_set=set()
print("enter elements to done to finish")
while True:
    user_input=input(">")
    if user_input.lower()=='done':
        break
    user_set.add(user_input)
print("final_set",user_set)

enter elements to done to finish
final_set {'mohseen'}

41.check if the intersection of two sets are empty

In [48]:
set1={1,2,3,4,5,6}
set2={}
intersection_result=set1.intersection(set2)
if not intersection_result:
    print("the intersection result is empty ")
else:
        print("the intersection result is  non_empty")

the intersection result is empty

42.create a set of first 5 fibonacci numbers

In [49]:
fibonacci_set=set()
a,b=0,1
for _ in range(6):
    fibonacci_set.add(a)
    a,b=b,a+b
print("set of fibonacci numbers",fibonacci_set)

set of fibonacci numbers {0, 1, 2, 3, 5}

43. Remove duplicates from  list using sets

In [50]:
orignal_list=[1,2,3,4,5,2,1,5,6,8,9]
unique_set=set(orignal_list)
unique_list=list(unique_set)
print(orignal_list)
print(unique_list)

[1, 2, 3, 4, 5, 2, 1, 5, 6, 8, 9]
[1, 2, 3, 4, 5, 6, 8, 9]

44. checks if two sets have same elements ,regardless of their count

In [73]:
def have_same_element(set1,set2):
    sorted_list1=sorted(list(set1))
    sorted_list2=sorted(list(set2))
    return sorted_list1==sorted_list2
set1={1,2,3,2,1}
set2={1,2,3}
result=have_same_element(set1,set2)
if result:
    print("the sets has same elements")
else:
    print("the sets has not same elements ")

the sets has same elements

45. create a set of the first n power of 2

In [82]:
def genrate_power(n):
    power_of_2 = set()
    for i in range(n):
        power = 2 ** i
        power_of_2.add(power)
    return power_of_2
n=5
power_genrate=genrate_power(n)
print(power_genrate)

{1, 2, 4, 8, 16}

46.find the common elements between  sets and the list

In [84]:
my_list=[1,2,3,4,5,6]
my_set={1,2,3,4,5,6}
list_to_set=set(my_list)
common_elements=[]
for elements in my_set:
    if elements in list_to_set:
        common_elements.append(elements)
print("common elements",common_elements)

common elements [1, 2, 3, 4, 5, 6]

47.create a set of the first n tringular numbers

In [2]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number)  
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

The set of the first 7 triangular numbers is: {1, 3, 6, 10, 15, 21, 28}

48.check if a set contains another set is a subset

In [6]:
set1={1,2,3,4,5,6}
set2={1,2,3,4,5,6,7}
is_subset=set1.issubset(set2)
if not is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2 ")

set1 is not a subset of set2

49. create a set of alternating 1s and 0s of length (n)

In [18]:
def create_alternating_set(n):
    alternating_set=set()
    for i in range(n):
        if i%2 ==0:
            alternating_set.add(0)
    else:
        alternating_set.add(1)
        return alternating_set
n=10
result=create_alternating_set(n)
print("alternate set",result)

alternate set {0, 1}

50.Merged multiple sets into

In [19]:
set1={1,2,3,4,5}
set2={5,6,7}
set3={8,9,10}
merged_sets=set1.union(set2,set3)
print("merged sets",merged_sets)

merged sets {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}